* {
    padding: 0px;
    margin: 0px;
}

body {
    position: relative;
    background-image: url(imagens/fundo-madeira.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
#celular {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 47vw;
    height: 80vh;

    background: url(imagens/frame-iphone.png) center center no-repeat;
    background-size: contain;
    background-attachment: fixed;

}  

#tela {
    position: absolute;
    background-image: url(imagens/tela-home.jpg);
    background-size: contain;
    background-attachment: auto;
    border-radius: 5px;
    margin-top: 2px;
    margin-left: 1px;

    width: 207px;
    height: 365px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

#icones {
    position: absolute;
    width: 80px;
    height: 76vh;

    left: 90%;
    top: 50%;

    transform: translate(-50%, -50%);
}

iframe {
    width: 207px;
    height: 365px;
    overflow: hidden;
}

img {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 65px;
    height: 10vh;
    padding: 8px;
}

img:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}
