* {
    padding: 0px;
    margin: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
   
}

main {
    height: 100vh;
    position: relative;
    background: url(../imagens/fundo-madeira.jpg) top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#celular {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 311px;
    height: 627px;

    background: url(../imagens/frame-iphone.png)  no-repeat;

}  

#tela {
    position: relative;
    border-radius: 5px;

    width: 270px;
    height: 473px;

    left: 21px;
    top: 79px;

}

#icones {
    text-align: right;
}

#icones img {
    width: 65px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}

#icones img:hover {
    border: 2px solid rgba(255, 255, 255, 0.63);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.63);
    transition-duration: 0.2s;

}
